<?xml version="1.0"?>
<launch>
	<arg name="frame_id" default="vectornav"/>
	<arg name="serial_port" default="/dev/serial/by-id/usb-FTDI_USB-RS232_Cable_AV0K7MTC-if00-port0"/>

	<node pkg="vectornav" type="vnpub" name="vectornav" output="screen" >
		<param name="frame_id" value="$(arg frame_id)"/>
		<param name="serial_port" value="$(arg serial_port)"/>
	    <rosparam command="load" file="$(find vectornav)/params/vn100.yaml" />
	</node>	
	
</launch>


